.project
BookChapterVerseLine.xsd
BookChapterVerseLine.xsl
BookPageColumnLine.xsd
BookPageColumnLine.xsl
Ceriani1861.xml
Knoell-Transcription.xml
Knoell-Transcription.xsl
LatinMoses-PhysicalFeatues.xsd
LatinMoses-PhysicalFeatures.xml
LatinMoses-Transcription.xml
LatinMoses-Translation.xml
OnLuke-Transcription.xml
OnLuke-Translation.xml
PhysicalFeatues.xsd
PhysicalFeatures.xsl
spareParts.txt
Tromp-Translation.xml
UCLARouse32-Transcription.xml
UCLARouse32-Translation.xml
VanderKam-Translation-Ethiopic.xml
VanderKam-Translation-Latin.xml
